@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Seja bem vindo ao cadastramento Volvo!</h1>
    <p>Desenvolvido por <a href="https://www.linkedin.com/in/felipe-marques-santos-679b946b/" target="_blank">Felipe Marques Santos</a>.</p>
</div>
